# Игнорируем кроме файла main.log (поставил первым, чтобы это правило 100% сработало,
# т.к. выполнение идет сверху вниз и при обратном порядке сначала все файлы *.log будут проигнорированы
!main.log

# Игнорируем все файлы 
*.log